* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* --- Utility --- */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
/* --- Il contenitore del sito--- */
.conteiner {
    width: 800px;
    margin: 0 auto;
}
/* ---header (Logo Barra di Navigazione) --- */
header {
    margin-bottom: 20px;
}
header img{
    height: 50px;
    padding-right: 10px;
    border-right: 1px solid gray;
}
nav{
    padding: 15px 10px 10px 0;
}
ul {
    list-style: none;
}
li { 
    color: gray;
    display: inline-block;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
}
li:last-child{
    margin-right: 0;  
}
/* ---Immagine Principale del sito --- */
.img-main, .text-img {
    border-radius: 10px;
}
 .img-main {
    height: 300px ;
    background-size:cover;
    background-position: center;
    background-image: url(../img/banner.jpg);
    margin-bottom: 20px;
}
.text-img {
    height: 100%;
    width: 100%;
    padding: 190px 400px 0px 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: small;
}
.title-img{ 
    font-size:22px;
}
/* --- Titolo del contenuto --- */
.leadership{
    font-weight:800;
    font-size:30px;
}
.sub-title{
    font-weight:600;
    color: lightgray;
}
/* ---Layout delle tre sezioni poste una di fianco all'altra --- */
.main-page{
    margin-bottom: 10px;
}
.box-left, .box-center, .box-right {
    padding: 15px 0 15px 0;
}
.box-left {
    width: 25%;
    padding-right: 10px;
}
.box-center {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
}
.box-right {
    width: 25%;
    padding-left: 10px;
}
.img-left, .img-center, .img-right {
    height: 150px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}
.img-left{
    background-image: url(../img/img-1.jpg);
}
.img-center{
    background-image: url(../img/banner-2.jpg);
}
.img-right{
    background-image: url(../img/img-3.jpg);
}
.ombra{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.text-bottom{
    color: gray;
}
/* ---Parte finale della pagina --- */
footer{
    text-align: center;
    font-size: large;
    margin-bottom: 20px;
}
.hearts {
    color:red;
    font-size: xx-large;
}



